{% extends "_layouts/cp" %}

{% set selectedSubnavItem = "subscriptions" %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "quickpaysubscriptions quickpaysubscriptionsedit" %}

{% set title = subscription %}

{% set crumbs = [
    { label: "Quickpay"|t('commerce'), url: url('commerce-quickpay') },
    { label: "Subscriptions"|t('commerce'), url: url('commerce-quickpay/subscriptions') }
] %}

{% import "_includes/forms" as forms %}

{% block header %}
	{{ block('pageTitle') }}
	<div class="flex-grow"></div>

	{% block actionButton %}
			{% if not subscription.isCanceled %}
				<form method="POST">
					<div class="btngroup">
						<input type="submit" class="btn submit" value="{{ 'Unsubscribe'|t('commerce') }}">
					</div>
					<input type="hidden" name="action" value="commerce-quickpay/subscriptions/unsubscribe">
					<input type="hidden" name="subscriptionUid" value="{{ subscription.uid|hash }}"/>
					{{ redirectInput(continueEditingUrl) }}
					{{ csrfInput() }}
				</form>
			{% endif %}
	{% endblock %}
{% endblock %}


{% block content %}
	<div id="subscriptionManageTab">
		<div class="pane">
			<h2>Payment history</h2>
			{% set payments = subscription.getAllPayments() %}

			<table id="" class="data fullwidth collapsible">
				<thead>
					<tr>
						<th scope="col">{{ 'Invoice date'|t('commerce') }}</th>
						<th scope="col">{{ 'Invoice amount'|t('commerce') }}</th>
						<th scope="col">{{ 'Status'|t('commerce') }}</th>
						<th scope="col">{{ 'Info'|t('commerce') }}s</th>
					</tr>
				</thead>
				<tbody>

					{% for payment in payments %}

						<tr class="infoRow">
							<td>{{ payment.dateUpdated|datetime }}</td>
							<td>{{ payment.paymentCurrency }} {{ payment.paymentAmount }}</td>
							<td>
								{{ payment.status }}
							</td>
							<td>
								<span class="infoRow" data-info="{{ payment.response|json_encode }}" data-icon="info" href="#"></span>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>

		{% hook 'cp.commerce.subscriptions.edit.content' %}
	</div>

{% endblock %}


{% block details %}

	<div id="meta" class="meta read-only">

		<div class="data">
			<h5 class="heading">{{ 'User'|t('commerce') }}</h5>
			<p class="value">
				<a href="{{ subscription.subscriber.cpEditUrl}}">{{subscription.subscriber.fullName ? subscription.subscriber.fullName : subscription.subscriber.friendlyName}}</a>
			</p>
		</div>

		<div class="data">
			<h5 class="heading">{{ 'Plan'|t('commerce') }}</h5>
			<p class="value">{{ subscription.getPlan().name }}</p>
		</div>

		<div class="data">
			<h5 class="heading">{{ 'Created'|t('commerce') }}</h5>
			<p class="value">{{ subscription.dateCreated|datetime }}</p>
		</div>

		<div class="data">
			<h5 class="heading">{{ 'Trial days credited'|t('commerce') }}</h5>
			<p class="value">{{ subscription.trialDays }}</p>
		</div>

		{% if subscription.trialDays %}
			<div class="data">
				<h5 class="heading">{{ 'Trial expiration'|t('commerce') }}</h5>
				<p class="value">{{ subscription.trialExpires|datetime }}</p>
			</div>
		{% endif %}

		{% if not subscription.isCanceled and not subscription.isSuspended  %}
			<div class="data">
				<h5 class="heading">{{ 'Next payment'|t('commerce') }}</h5>
				<p class="value">{{ subscription.nextPaymentDate|datetime }}</p>
			</div>
		{% endif %}

		{% if subscription.isCanceled or subscription.isSuspended %}
			<div class="data">
				<h5 class="heading">{{ 'Expiry'|t('commerce') }}</h5>
				<p class="value">{{ subscription.dateExpired|datetime }}</p>
			</div>
		{% endif %}
		{% if subscription.isCanceled %}
			<div class="data">
				<h5 class="heading">{{ 'Cancellation'|t('commerce') }}</h5>
				<p class="value">{{ subscription.dateCanceled ? subscription.dateCanceled|datetime : '' }}</p>
			</div>
		{% endif %}
	</div>
	{% hook 'cp.commerce-quickpay.subscriptions.edit.meta' %}
{% endblock %}

{% do view.registerAssetBundle("craft\\web\\assets\\prismjs\\PrismJsAsset") %}
